extends layout

block content
    form(action="/login", method="post")
        h2 USERNAME
        input(type="text") 
        h2 PASSOWRD
        input(type="password") 
        input(type="submit")
